@{
    ViewData["Title"] = "Home Page";
}

@* <div className="jumbotron p-3 mb-0 rounded-0 bg-transparent text-black">
    <h5 style={{marginBottom: "-40px" }}>
        <marquee style={{color: "black" }}>
            🎉 Welcome to our New Year Sale! Enjoy incredible discounts and
            amazing deals on a wide range of products. Unwrap the savings with our exclusive offers and grab fantastic bargains! Hurry,
            limited time only! Start the year with style and savings at BharatCrafted.
        </marquee>
    </h5>
    <div className="clearfix"></div>
</div>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/lib/assets/Header1.jpg" class="d-block w-200" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/lib/assets/Header2.jpg" class="d-block w-200" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/lib/assets/Header3.jpg" class="d-block w-140" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/lib/assets/Header4.jpg" class="d-block w-140" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/lib/assets/Header5.jpg" class="d-block w-140" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/lib/assets/Header6.jpg" class="d-block w-140" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<br />
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                What inspired the development team to create BharatCrafted, an online platform for locally made products?
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                The development team was inspired by a collective vision to empower local artisans and businesses in India. Recognizing the rich diversity of handmade products across the country, they aimed to create BharatCrafted as a platform to showcase and promote these unique creations to a broader audience. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the 
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                How does BharatCrafted contribute to the promotion of locally made products on a wider scale?
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                BharatCrafted serves as a virtual marketplace, bridging the gap between local artisans and a global audience. Through strategic online promotion and marketing, the platform enables small businesses and craftsmen to reach customers beyond their immediate communities. This approach aligns with the team's commitment to fostering economic growth at the grassroots level.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What challenges did the development team overcome while creating BharatCrafted, and how do these challenges reflect the commitment to promoting locally made products?
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                The team faced challenges such as integrating diverse product categories and ensuring a seamless user experience. Overcoming these obstacles underscored their dedication to creating a comprehensive platform for local products. The challenges also reinforced the team's belief in the importance of overcoming technical hurdles to support and promote the rich tapestry of locally crafted items available on BharatCrafted.
            </div>
        </div>
    </div>
</div> *@